<!DOCTYPE html>
<html>

{include file="public/head" /}
    
    <body style="background-color: #393D49">
        <div class="x-box">
            <div class="x-top">
                <i class="layui-icon x-login-close">
                    &#x1007;
                </i>
                <ul class="x-login-right">
                    <li style="background-color: #F1C85F;" color="#F1C85F">
                    </li>
                    <li style="background-color: #EA569A;" color="#EA569A">
                    </li>
                    <li style="background-color: #393D49;" color="#393D49">
                    </li>
                </ul>
            </div>
            <div class="x-mid">
                <div class="x-avtar">
                    <img src="__STATIC__/images/logo.png" alt="">
                </div>
                <div class="input">
                    <div class="layui-form-item x-login-box">
                        <label for="username" class="layui-form-label">
                            <i class="layui-icon">&#xe612;</i>
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="username" name="username" required="" lay-verify="username"
                                   autocomplete="off" placeholder="username" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item x-login-box">
                        <label for="pass" class="layui-form-label">
                            <i class="layui-icon">&#xe628;</i>
                        </label>
                        <div class="layui-input-inline">
                            <input type="password" id="pass" name="pass" required="" lay-verify="pass"
                                   autocomplete="off" placeholder="******" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" id="loginbtn">
                        <button  class="layui-btn"  id="btn_login" name="btn_login">
                            登 录
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <p style="color:#fff;text-align: center;">Copyright © 2017.Company name All rights X-admin </p>
        {include file="public/js" /}
        <script>
            layui.use(['form'],
            function() {
                $ = layui.jquery;
                var form = layui.form(),
                layer = layui.layer;

                $('.x-login-right li').click(function(event) {
                    color = $(this).attr('color');
                    $('body').css('background-color', color);
                });

                $('#btn_login').click(function () {

                    var username = $('#username').val();
                    var pass  = $.md5($('#pass').val()).toUpperCase();
                    if( username =='' || pass ==''){
                        layer.msg('帐号密码不能为空',{icon: 2});
                        return;
                    }
                    $.ajax({
                        type:'POST',
                        url:"{:url('login/check')}",
                        data:{username:username,pass:pass},
                        dataType:'json',
                        success:function (data) {
                            if(data.code == 1){
                                layer.msg('登陆成功',{icon: 1});
                                location.href = data.data;
                            }else{
                                layer.msg(data.msg,{icon: 2});
                            }

                        },
                        error:function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("请求失败！");
                        }
                    });

                });
            });
        </script>
    </body>

</html>